#gcm_gift_card_items .gcm_actions .gcm_hidden {
    display: none;
}

#gcm_gift_card_items .gcm_actions:hover .gcm_hidden {
    display: inline-block;
}
#setting-giftcardMagic * {
    box-sizing: border-box;
}
.inner-box-giftcardMagic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post-type-gift_card_magic .row-actions .view{
    display: none;
}
.post-type-gift_card_magic .column-idpost::before,
.taxonomy-gift_card_category .column-id::before{
    content: " " !important;
}
.taxonomy-gift_card_category .taxonomyid-column,
.taxonomy-gift_card_category .column-id,
.post-type-gift_card_magic .column-idpost,
.post-type-gift_card_magic .postid-column{
    display: table-cell;
    width: 1%;
    white-space: nowrap;
}
.wrap-item-giftcardMagic {
    width: 450px;
    max-width: 100%;
    position: relative;
    background-color: #56bfc9;
    margin: 0 auto;
}
.table-setting-giftcardMagic,
.setting-field {
    width: 50%;
    padding: 0 15px;
}
.image-giftcardMagic {
    padding-top: 50%;
}
.image-giftcardMagic img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-position: center;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.btn-setting-giftcardMagic {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    border: 0;
    background: transparent;
    z-index: 2;
}
.btn-setting-giftcardMagic .dashicons {
    font-size: 30px;
    width: 30px;
    height: 30px;
}
.group-giftcardMagic {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 15px;
}
.content-giftcardMagic {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 10px 20px;
    position: relative;
}
.group-giftcardMagic label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.group-giftcardMagic .input-giftcardMagic {
    width: 100%;
    border: 0;
    border-radius: 0;
    width: 100%;
    padding: 5px;
    border: 1px solid currentColor;
}
.full-width-giftcardMagic {
    min-width: 100%;
}
textarea.input-giftcardMagic {
    min-height: 135px;
}
.wrap-input-giftcardMagic {
    position: relative;
}
.currencySymbol {
    position: absolute;
    left: 8px;
    top: 10px;
}
.wrap-input-giftcardMagic .input-giftcardMagic {
    padding-left: 20px;
}
.terms-giftcardMagic {
    position: absolute;
    bottom: 10px;
    transform-origin: bottom left;
    font-size: 11px;
    left: 18px;
    transform: rotate(-90deg);
}
.info-giftcardMagic {
    text-align: center;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    display: flex;
}
.info-giftcardMagic a {
    display: inline-block;
    width: 50%;
    justify-content: center;
    padding: 0 5px;
    color: #000;
    text-decoration: none;
}
.info-giftcardMagic a:first-child {
    text-align: right;
}
.info-giftcardMagic a:last-child {
    text-align: left;
}
input#save-giftcardMagic {
    font-size: 18px;
    padding: 10px 30px;
    background-color: #0161f1;
    border: 1px solid #fff;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    color: #fff;
}
#wpfooter {
    position: static;
}
.template-form-wrapper {
    padding-top: 50px;
}
form#add-new-template-form * {
    box-sizing: border-box;
}
form#add-new-template-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
form#add-new-template-form .postbox {
    width: 30%;
    padding: 10px;
}
form#add-new-template-form .postbox:first-child {
    width: 68%;
}
h2.hndle {
    padding: 0 15px;
    font-size: 28px;
}
input#template-name {
    width: 100%;
    border: 1px solid;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    margin-bottom: 20px;
}
.postbox-content label {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}
.wrap-giftcardMagic {
    padding-right: 300px;
}
.sidebar-giftcardMagic {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100vh;
    background-color: #Fff;
    padding: 50px 20px;
    z-index: 2;
}

.box-giftcardMagic {
    padding: 15px;
    margin-top: 15px;
    background-color: #Fff;
}

.wrap-giftcardMagic h1 {
    margin: 15px 0;
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
}
.group-setting-giftcardMagic {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.group-setting-giftcardMagic .text-label { 
    width: 330px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.group-setting-giftcardMagic .text-label span {
    font-weight: normal;
}
.group-setting-giftcardMagic .wrap-field {
    width: 450px;
    padding: 0 10px; 
}
.group-setting-giftcardMagic .caption {
    width: calc(100% - 350px);
}
.group-setting-giftcardMagic .field-giftcardMagic {
    width: 100%;
    padding: 3px 11px;
    border-radius: 0;
    border: 1px solid #000;
    max-width: 100%;
    margin-bottom: 10px;
}
.toggle-giftcardMagic {
    display: block;
}
.toggle-giftcardMagic input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}
.toggle-slider-giftcardMagic {
    border-radius: 34px;
    position: relative;
    display: inline-block;
    width: 50px;
    min-width: 50px;
    height: 26px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: .4s;
    border: 1px solid;
    vertical-align: middle;
    margin-right: 3px;
}
.toggle-slider-giftcardMagic:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: currentColor;
    transition: .4s;
    border-radius: 50%;
}
.toggle-giftcardMagic input:checked+.toggle-slider-giftcardMagic {
    background-color: currentColor;
}
.toggle-giftcardMagic input:checked+.toggle-slider-giftcardMagic:before {
    transform: translateX(24px);
    background-color: #fff;
}
.group-setting-giftcardMagic input[type="color"] {
    width: 100px;
}
#setting-giftcardMagic h4 {
    font-size: 16px;
}
label.toggle-giftcardMagic {
    padding: 0 10px;
}
.box-giftcardMagic.hide {
    display: none;
}
.box-giftcardMagic h3 {
    font-size: 2em;
}
#tab-frontend .group-setting-giftcardMagic .text-label {
    font-weight: normal;
}
.field-file-giftcardMagic .field-giftcardMagic {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}
.field-file-giftcardMagic .text-file {
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: capitalize;
    background-color: #fff;
}
.preview-logo {
    display: none;
    margin-left: 0;
    margin-bottom: 20px;
    width: 100px;
    vertical-align: middle;
}
.preview-logo.show {
    display: block;
}
img#image_url {
    width: 100%;
    height: auto;
}
.post-type-gift_card_magic #postdivrich{
    display: none;
}
.post-type-gift_card_magic .wrap-gift-card-details label{
    display: block;
    width: 100%;
    margin: 10px 0;
}
.post-type-gift_card_magic .wrap-gift-card-details input{
    width: 100%;
}
.display-loading-giftcardMagic {
    display: none;
}
.wrap-loading-giftcardMagic {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 99999;
}
.loader-giftcardMagic {
    width: 175px;
    height: 80px;
    display: block;
    margin:auto;
    background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
    background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
    background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
}
.loader-giftcardMagic::before {
    content: '';  
    left: 60px;
    bottom: 18px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FF3D00;
    background-image: radial-gradient(circle 8px at 18px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, #FFF 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack-giftcardMagic 3s linear infinite;
}
.loader-giftcardMagic::after {
    content: '';  
    left: 94px;
    bottom: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FF3D00;
    background-image: radial-gradient(circle 5px at 12px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, #FFF 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack-giftcardMagic 4s linear infinite reverse;
}
  
@keyframes rotationBack-giftcardMagic {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
}
.group-giftcardMagic.hide {
    display: none;
}